@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EBGaramond-Medium.woff") format("woff"),
    url("assets/fonts/EBGaramond-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EBGaramond-Bold.woff") format("woff"),
    url("assets/fonts/EBGaramond-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
